/* Definição tela 1280x720 */
:root{
    /*definição de variaveis*/
    --cor-de-fundo:#4d4b4a;
    --cor-das-letras:rgb(250, 248, 248);
    --cor-das-letras-titulos:black;
    --estilo-de-letras:inherit, Helvetica, sans-serif;
    --tamanho-letra-titulo:82px;
    --tamanho-letra-paragrafo:42px;
    --tamanho-letra-subtitulo:32px;
}
*{
    margin: 0;
    padding:0;
box-sizing: border-box;

}html,body,:root{
    height: 100vh;
    
}
 body{

    background:var(--cor-de-fundo);
        
}.principal{

    background:no-repeat;
    background-size: contain;
    align-items: center; 
    text-align: center;

}.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 80% 20%;
}.menu{

    float: flex;
    margin-top: -50px;
}
.menu li{

    height: 100%;
    display: inline;
    font-size: 25px;
    margin-top: 0px;

}
.menu li a{
    display:inline;
    text-decoration: none;
    color: var(--cor-das-letras);
    margin: 0px 94px 0px 0px;
}.menu :hover{
    cursor: pointer;
    color: rgb(151, 151, 248);
}
.container__box{
    margin: 0em 1em;
}.secundario{ 
    width: 100%;   
    text-align: left;
    align-items: center;
    background-color: rgb(176, 177, 179);
    
}/* Imagens da pagina */
.container__imagem{
    width: 670px;
    margin: -655px 0px 0px 1200px;
   
}.container__imagem2{
   width: 280px;
    margin: -300px 0px 0px 0px;
}.logo{ 
        width: 70px;
        margin: -890px 850px 780px -450px; 
    }
    
.Avalia{
    margin: 450px 10px -30px 350px;
}
.quadro_unha{
    
    margin: 300px 0px -290px 300px;
   
   
    
}/*Alinhamento titulos*/ 
.tituloName{

    font-size: var(--tamanho-letra-titulo);
    color: var(--cor-das-letras);
    font-style: var(--estilo-de-letras);
    text-align: right;
    margin: 350px 0px 0px 170px;
    width: 1px;
    border-left: 1px solid red;
    
}.subtitulo{
    font-size: var(--tamanho-letra-subtitulo);
    color: var(--cor-das-letras);
    font-style: var(--estilo-de-letras);
    margin: 30px 850px 0px 0px;
    text-align: right;

}.tituloProcedimento{
     font-size: var(--tamanho-letra-paragrafo);
     font-style: var(--estilo-de-letras);
     color: var(--cor-das-letras-titulos);
     margin: -452px 390px 730px 780px;
     text-align: right;
     border-left: 2px solid red;
     
}.tituloAvaliacao{
    font-size: var(--tamanho-letra-paragrafo);
    font-style: var(--estilo-de-letras);
    color: var(--cor-das-letras-titulos);
    margin: 100px 680px 200px -750px;
    text-align: right;
    border-left: 2px solid red;
    
}
