/* Mobile */
:root{
    /*definição de variaveis*/
    --cor-de-fundo:#4d4b4a;
    --cor-das-letras:rgb(250, 248, 248);
    --estilo-de-letras:arial, Helvetica, sans-serif;
    --tamanho-letra-titulo:52px;
    --tamanho-letra-paragrafo:21px;
}
*{
    margin: 0;
    padding:0;
box-sizing: border-box;

}html,body,:root{
    height: 100vh;

}body{
    background-color: var(--cor-de-fundo);
}.principal{

    background:no-repeat;
    background-size: contain;
    align-items: center; 
    text-align: center;

}.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 80% 20%;
}.menu{

    float: left;
    margin-top: 5px;
}
.menu li{

    height: 100%;
    display: inline;
    font-size: 22px;
    margin-top: 5px;

}
.menu li a{
    display:inline;
    text-decoration: none;
    color: var(--cor-das-letras);
    margin: 32px 5px 150px 50px;
}.container__box{
    margin: 0em 1em;
}.secundario{ 
    width: 100%;   
    text-align: left;
    margin: 250px 0px 0px 50px;
    align-items: center;
    background-color: rgb(176, 177, 179);
    
    
}/* Imagens da pagina */
.container__imagem{
    width: 400px;
    margin: 345px 0px 0px 187px;
   
}.container__imagem2{
   width: 280px;
    margin: -100px 0px 0px -0px;
    
}.Avalia{
    width: 1200px;
    margin: 0px 0px 0px 10px;
    text-align: center;
    
}.titulo1{

    font-size: var(--tamanho-letra-titulo);
    color: var(--cor-das-letras);
    font-style: var(--estilo-de-letras);
    text-align: right;
    margin: 150px 0px 0px 50px;
    width: 1px;
    border-left: 1px solid red;
    
}.subtitulo{
    font-size: var(--tamanho-letra-paragrafo);
    color: var(--cor-das-letras);
    font-style: var(--estilo-de-letras);
    margin: 20px -90px 10px 50px;
    text-align: right;

}.titulo2{
     font-size: var(--tamanho-letra-paragrafo);
     font-style: var(--estilo-de-letras);
     color: var(--cor-das-letras);
     margin: -792px 150px 10px 450px;
     text-align: right;
     border-left: 2px solid red;
     
}.botao{

    background-color: greenyellow;
    border: 2px solid greenyellow;
    font-style: var(--estilo-de-letras);
    border-radius: 10px 0px 0px 10px ;
    margin: 250px 950px 0px 0px;
    font-size: 22px;

}.botao2{
    background-color: greenyellow;
    border: 2px solid greenyellow;
    border-radius: 0px 10px 10px 0px ;
    font-size: 22px;
    margin: 0px 0px 0px -950px;
}
