
    *{margin:0; padding:0;}
:root{
    --cor-de-fundo:#4d4b4a;
    --cor-das-letras:rgb(250, 248, 248);
    --estilo-de-letras:arial, Helvetica, sans-serif;
    --tamanho-letra-titulo:72px;
    --tamanho-letra-paragrafo:31px;
} 
html,body,:root{
    height: 100vh;
}
    body{
    background-color: var(--cor-de-fundo);
}.principal{

    background:no-repeat;
    background-size: contain;
    align-items: center; 
    text-align: center;

}.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 80% 20%;
}/*  
.menu{

    float: left;
    margin-top: 5px;
}
.menu li{

    height: 100%;
    display: inline;
    font-size: 21px;
    margin-top: 5px;

}
.menu li a{
    display:inline;
    text-decoration: none;
    color: var(--cor-das-letras);
    margin: 32px 5px 150px 50px;
}*/.container__box{
    margin: 0em -6em;
}.secundario{ 
    width: 100%;   
    text-align: left;
    margin: 0px -1550px 0px 0px;
    align-items: center;
    background-color: rgb(176, 177, 179);
    
    
}/* Imagens da pagina */
.container__imagem{
    width: 200px;
    margin: 45px 0px 0px -17px;
   
}.container__imagem2{
   width: 280px;
   margin: -300px 0px 0px 0px;
      
}.logo{ 
        width: 70px;
        margin: 0px 0px 0px -0px; 
    }
    
.Avalia{
    width:400px;
    margin: 450px 0px 0px -7px;
}
.quadro_unha{
    width:400px;
    margin: 300px 0px 0px 0px;
   
}.espaco{
    width:390px;

    margin: 0px 0px 0px 0px;

}.imagemLocaliza{
    
    width:200px;
    margin: 0px 0px 0px 100px;

}.imagemInstagram{
    
    width:200px;
    margin: 200px 0px 0px -200px;

}.imagemWhatsapp{

    width:150px;
    margin: 0px 0px 0px 100px;

}
/*Alinhamento titulos*/ 
.tituloName{

    font-size: var(--tamanho-letra-titulo);
    color: var(--cor-das-letras);
    font-style: var(--estilo-de-letras);
    text-align: right;
    margin: 150px 0px 0px 0px;
    width: 1px;
    border-left: 1px solid red;
    
}.subtitulo{
    font-size: var(--tamanho-letra-subtitulo);
    color: var(--cor-das-letras);
    font-style: var(--estilo-de-letras);
    margin: 30px 850px 0px 0px;
    text-align: right;

}.tituloProcedimento{
     font-size: var(--tamanho-letra-paragrafo);
     font-style: var(--estilo-de-letras);
     color: var(--cor-das-letras-titulos);
     margin: -400px 0px 400px 60px;
     text-align: right;
     border-left: 2px solid red;
     
}.tituloAvaliacao{
    font-size: 30px;
    font-style: var(--estilo-de-letras);
    color: var(--cor-das-letras-titulos);
    margin: -200px 60px 10px -270px;
    text-align: right;
    border-left: 2px solid red;
    
}.tituloEspaco{
    font-size: var(--tamanho-letra-paragrafo);
    font-style: var(--estilo-de-letras);
    color: var(--cor-das-letras-titulos);
    margin: 100px 850px 200px -750px;
    text-align: right;
    border-left: 2px solid red;
}.tituloRodaPe{ 
    color: var(--cor-das-letras);
    font-style: var(--estilo-de-letras);
    text-align: center;
}
